html body
{
    margin: 0px;
    padding: 0px;
    background-color: #orange;
    width: 100%;
    height: 100%;
    font-family: Arial;
}

.nav
{
    width: 100%;
    height: 50px;
    background-color: #714c4d;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    -webkit-box-shadow: 1px 1px 8px 1px rgb(0 0 0 / 40%);
    box-shadow: 1px 1px 8px 1px rgb(0 0 0 / 40%);
}

.nav li
{
    display: inline-block;
    height: 100%;
    width: 100px;
    
}

.nav a
{
    background-color: #886061;
    list-style-type: none;
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    padding-top: 17px;
    box-sizing: border-box;
}

.nav a:hover
{
    background-color: rgb(78, 78, 78);
    transition: 0.444s;
}